html, body {
  height: 100%;
  background:#fff;
  padding: 0;
  margin: 0;
  color: #262116;
}

/* Top Banner */
.topdiv {
  background-image: url('images/dog-banner.jpg');
  background-size: 100% 250px;
  height: 250px;
}

/* Division for the links */
.linksdiv {
  float: right;
  position: sticky;
  Width: 150px;      
  height:100%;
  padding-top: 50px;
}

/* Center div containing the page main content*/
.centerdiv {
  Padding-left: 30px;  
  Padding-right: 150px;
}
          
a {
  display: inline-block;
  color:#7C893B;
  padding-bottom: 15px; 
}

a:visited {
  color:#3e4803;
  }

/*Banner text on top banner image*/    
.banner-text {
  color:#FBF5E7;
  display:inline-block;
  padding-left:50%;
  padding-top:20px;
  font-size:400%;
}

h1, h2, h3 {
  color:#B1B67D;
}
   
.foodchart table, .foodchart th, .foodchart tr, .foodchart td {
  border: 2px solid #B1B67D;
  text-align:center; 
  margin:10px; 
}

.foodchart {
   border-collapse:collapse;
}

#more {
  display: none;
}

iframe {
  border: none;
}

hr {
  border: 1px solid #B1B67D;
  top: 50px;
}

.products {
  display: flex;
}

@media screen and (max-width: 600px) {
  .no-image {
    display: none;
  }
  .banner-text {
    font-size: 50px;
  }
  .products {
    flex-direction: column;
  }
  .topdiv {
    background-size: cover;
    background-position: right;
  }
}